@font-face {
  font-family: 'SourceSansPro-Light';
  font-weight: 100;
  src: url("../../assets/fonts/alice/light/SourceSansPro-Light.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/alice/light/SourceSansPro-Light?#iefix") format("embedded-opentype"), url("../../assets/fonts/alice/light/SourceSansPro-Light.woff") format("woff"), url("../../assets/fonts/alice/light/SourceSansPro-Light.ttf") format("truetype"), url("../../assets/fonts/alice/light/SourceSansPro-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  font-weight: 100;
  src: url("../../assets/fonts/alice/bold/SourceSansPro-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/alice/bold/SourceSansPro-Bold?#iefix") format("embedded-opentype"), url("../../assets/fonts/alice/bold/SourceSansPro-Bold.woff") format("woff"), url("../../assets/fonts/alice/bold/SourceSansPro-Bold.ttf") format("truetype"), url("../../assets/fonts/alice/bold/SourceSansPro-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  font-weight: 400;
  src: url("../../assets/fonts/alice/regular/SourceSansPro-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/alice/regular/SourceSansPro-Regular?#iefix") format("embedded-opentype"), url("../../assets/fonts/alice/regular/SourceSansPro-Regular.woff") format("woff"), url("../../assets/fonts/alice/regular/SourceSansPro-Regular.woff2") format("woff2"), url("../../assets/fonts/alice/regular/SourceSansPro-Regular.ttf") format("truetype");
}

/* line 37, D:/xampp/htdocs/alice/style/scss/basic.scss */
html,
body {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  min-height: 100% !important;
  height: 100%;
}

/* line 46, D:/xampp/htdocs/alice/style/scss/basic.scss */
html {
  background: #FFFFFF;
  height: 100% !important;
}

/* line 51, D:/xampp/htdocs/alice/style/scss/basic.scss */
#paged {
  height: 100%;
  min-height: 100% !important;
}

/* fallback for old browsers */
/* line 147, D:/xampp/htdocs/alice/style/scss/basic.scss */
.boxb {
  box-shadow: 0px 8px 52px 2px rgba(0, 0, 0, 0.18);
}

/* line 154, D:/xampp/htdocs/alice/style/scss/basic.scss */
.box2 {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

/* line 158, D:/xampp/htdocs/alice/style/scss/basic.scss */
ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 165, D:/xampp/htdocs/alice/style/scss/basic.scss */
li {
  display: inline-block;
}

/* line 169, D:/xampp/htdocs/alice/style/scss/basic.scss */
a {
  color: #989898;
  text-decoration: none;
}

/* line 174, D:/xampp/htdocs/alice/style/scss/basic.scss */
input {
  border: 0;
}

/* line 176, D:/xampp/htdocs/alice/style/scss/basic.scss */
input:focus {
  outline: 0;
}

/* line 181, D:/xampp/htdocs/alice/style/scss/basic.scss */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  background: #fff;
  transition: background-color 5000s ease-in-out 0s;
}

/* line 194, D:/xampp/htdocs/alice/style/scss/basic.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 202, D:/xampp/htdocs/alice/style/scss/basic.scss */
img {
  max-width: 100%;
}

/* line 206, D:/xampp/htdocs/alice/style/scss/basic.scss */
table {
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
}

/* line 212, D:/xampp/htdocs/alice/style/scss/basic.scss */
td,
th {
  text-align: left;
  padding: 0;
  margin: 0;
}

/* line 219, D:/xampp/htdocs/alice/style/scss/basic.scss */
input,
textarea,
select,
button {
  font-family: "SourceSansPro-Regular";
}

/* line 227, D:/xampp/htdocs/alice/style/scss/basic.scss */
button {
  border: 0;
  cursor: pointer;
}

/* line 230, D:/xampp/htdocs/alice/style/scss/basic.scss */
button:focus {
  outline: none;
}

/* line 235, D:/xampp/htdocs/alice/style/scss/basic.scss */
::-webkit-scrollbar-track {
  background-color: #ddd;
}

/* line 239, D:/xampp/htdocs/alice/style/scss/basic.scss */
::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

/* line 244, D:/xampp/htdocs/alice/style/scss/basic.scss */
::-webkit-scrollbar-thumb {
  background-color: #9ac3c3;
}

/* line 248, D:/xampp/htdocs/alice/style/scss/basic.scss */
h1,
h2,
h3,
h4,
h5 {
  font-family: "SourceSansPro-Bold";
}

/* line 257, D:/xampp/htdocs/alice/style/scss/basic.scss */
.button {
  display: inline-block;
  float: right;
  position: relative;
  top: -15px;
}

/* line 264, D:/xampp/htdocs/alice/style/scss/basic.scss */
.rl-container {
  position: relative;
}

/* line 268, D:/xampp/htdocs/alice/style/scss/basic.scss */
.boxed {
  box-shadow: 0px 11px 83px 3px rgba(0, 0, 0, 0.18);
  -moz-box-sizing: border-box;
}

/* line 274, D:/xampp/htdocs/alice/style/scss/basic.scss */
.boxedSmall {
  box-shadow: 0 1px 1px #66abab;
  -moz-box-sizing: border-box;
}

/* line 279, D:/xampp/htdocs/alice/style/scss/basic.scss */
.boxed.fixed {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19);
  -moz-box-sizing: border-box;
}

/* line 284, D:/xampp/htdocs/alice/style/scss/basic.scss */
.bx {
  box-shadow: 0px 8px 52px 2px rgba(0, 0, 0, 0.18);
}

/* line 288, D:/xampp/htdocs/alice/style/scss/basic.scss */
.clear {
  clear: both;
}

/* line 292, D:/xampp/htdocs/alice/style/scss/basic.scss */
.slow {
  transition: all .2s ease-in-out;
}

/* line 296, D:/xampp/htdocs/alice/style/scss/basic.scss */
.row {
  width: 1200px;
  margin: 0 auto;
}

/* line 301, D:/xampp/htdocs/alice/style/scss/basic.scss */
.center {
  text-align: center;
}

/* line 305, D:/xampp/htdocs/alice/style/scss/basic.scss */
.left {
  text-align: left;
}

/* line 309, D:/xampp/htdocs/alice/style/scss/basic.scss */
.spacer.huge {
  height: 20vh;
}

/* line 313, D:/xampp/htdocs/alice/style/scss/basic.scss */
.spacer.big {
  height: 10vh;
  position: relative;
}

/* line 318, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-2 {
  width: 50%;
}

/* line 322, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-2-5 {
  width: 55%;
  min-height: 1px;
}

/* line 327, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-2-4 {
  width: 40%;
}

/* line 331, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-3 {
  width: 33%;
  min-height: 1px;
}

/* line 337, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-3-5 {
  width: 30%;
  min-height: 1px;
}

/* line 342, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-4 {
  width: 25%;
  min-height: 1px;
}

/* line 347, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-5 {
  width: 20%;
  min-height: 1px;
}

/* line 352, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-10 {
  width: 10%;
  min-height: 1px;
}

/* line 357, D:/xampp/htdocs/alice/style/scss/basic.scss */
.talent-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* line 363, D:/xampp/htdocs/alice/style/scss/basic.scss */
.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* line 369, D:/xampp/htdocs/alice/style/scss/basic.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 375, D:/xampp/htdocs/alice/style/scss/basic.scss */
.clearfix:after {
  clear: both;
}

/* line 379, D:/xampp/htdocs/alice/style/scss/basic.scss */
.clearfix {
  zoom: 1;
}

/* line 383, D:/xampp/htdocs/alice/style/scss/basic.scss */
.relative {
  position: relative !important;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* line 408, D:/xampp/htdocs/alice/style/scss/basic.scss */
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 421, D:/xampp/htdocs/alice/style/scss/basic.scss */
.glyphicon-ok:before {
  content: "\2713";
}

/* line 425, D:/xampp/htdocs/alice/style/scss/basic.scss */
.glyphicon-remove:before {
  content: "\00d7";
  font-size: 17px;
  font-weight: 600;
}

/* line 4, D:/xampp/htdocs/alice/style/scss/backend.scss */
.addData form {
  position: relative;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}

/* line 11, D:/xampp/htdocs/alice/style/scss/backend.scss */
.addData form input {
  border: 1px solid #3d3bee;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0 20px;
  border-radius: 4px;
}

/* line 22, D:/xampp/htdocs/alice/style/scss/backend.scss */
.addData form input::placeholder {
  color: #989898;
  font-size: 13px;
}

/* line 27, D:/xampp/htdocs/alice/style/scss/backend.scss */
.addData form input:focus {
  border: 1px solid #0cb7b7;
}

/* line 31, D:/xampp/htdocs/alice/style/scss/backend.scss */
.addData form input[type=text] {
  height: 30px;
  width: 50%;
  display: inline;
}

/* line 37, D:/xampp/htdocs/alice/style/scss/backend.scss */
.addData form input[type="file"] {
  display: none;
}

/* line 41, D:/xampp/htdocs/alice/style/scss/backend.scss */
.addData form input[type="email"] {
  height: 30px;
}

/* line 45, D:/xampp/htdocs/alice/style/scss/backend.scss */
.addData form input[type="radio"] {
  width: 100px;
}

/* line 49, D:/xampp/htdocs/alice/style/scss/backend.scss */
.addData form .custom-file-upload {
  border: 1px solid #3d3bee;
  display: inline-block;
  cursor: pointer;
  margin-left: -15px;
  width: 50%;
  float: left;
  height: 30px;
  border-radius: 4px;
  line-height: 27px;
  outline: 0;
}

/* line 61, D:/xampp/htdocs/alice/style/scss/backend.scss */
.addData form .custom-file-upload span {
  vertical-align: top;
  color: #989898;
}

/* line 67, D:/xampp/htdocs/alice/style/scss/backend.scss */
.addData form .first {
  float: left;
  width: 50%;
}

/* line 72, D:/xampp/htdocs/alice/style/scss/backend.scss */
.addData form .last {
  float: right;
  width: 50%;
}

/* line 79, D:/xampp/htdocs/alice/style/scss/backend.scss */
.addData .addDataBase {
  display: block;
  width: 100px;
  padding: 5px 0;
  background: #5A80FB;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

/*# sourceMappingURL=../css/backend.map */