@font-face {
  font-family: 'alice';
  font-weight: 100;
  src: url("../../assets/fonts/alice/regular/alice.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/alice/regular/alice?#iefix") format("embedded-opentype"), url("../../assets/fonts/alice/regular/alice.woff") format("woff"), url("../../assets/fonts/alice/regular/alice.ttf") format("truetype"), url("../../assets/fonts/alice/regular/alice.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'alice-bold';
  font-weight: 100;
  src: url("../../assets/fonts/alice/bold/alice-bold.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/alice/bold/alice-bold?#iefix") format("embedded-opentype"), url("../../assets/fonts/alice/bold/alice-bold.woff") format("woff"), url("../../assets/fonts/alice/bold/alice-bold.ttf") format("truetype"), url("../../assets/fonts/alice/bold/alice-bold.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'alice-thin';
  src: url("../../assets/fonts/alice/alice-thin.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/alice/alice-thin?#iefix") format("embedded-opentype"), url("../../assets/fonts/alice/alice-thin.woff") format("woff"), url("../../assets/fonts/alice/alice-thin.ttf") format("truetype"), url("../../assets/fonts/alice/alice-thin.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

/* line 36, D:/xampp/htdocs/alice/style/scss/basic.scss */
html,
body {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

/* line 43, D:/xampp/htdocs/alice/style/scss/basic.scss */
html {
  background: #FFFFFF;
  height: 100% !important;
}

/* fallback for old browsers */
/* line 130, D:/xampp/htdocs/alice/style/scss/basic.scss */
.boxb {
  box-shadow: 0px 8px 52px 2px rgba(0, 0, 0, 0.18);
}

/* line 137, D:/xampp/htdocs/alice/style/scss/basic.scss */
.box2 {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

/* line 141, D:/xampp/htdocs/alice/style/scss/basic.scss */
ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 148, D:/xampp/htdocs/alice/style/scss/basic.scss */
li {
  display: inline-block;
}

/* line 152, D:/xampp/htdocs/alice/style/scss/basic.scss */
a {
  color: #989898;
  text-decoration: none;
}

/* line 157, D:/xampp/htdocs/alice/style/scss/basic.scss */
input {
  border: 0;
}

/* line 159, D:/xampp/htdocs/alice/style/scss/basic.scss */
input:focus {
  outline: 0;
}

/* line 164, D:/xampp/htdocs/alice/style/scss/basic.scss */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  background: #fff;
  transition: background-color 5000s ease-in-out 0s;
}

/* line 177, D:/xampp/htdocs/alice/style/scss/basic.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 185, D:/xampp/htdocs/alice/style/scss/basic.scss */
img {
  max-width: 100%;
}

/* line 189, D:/xampp/htdocs/alice/style/scss/basic.scss */
table {
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
}

/* line 195, D:/xampp/htdocs/alice/style/scss/basic.scss */
td,
th {
  text-align: left;
  padding: 0;
  margin: 0;
}

/* line 202, D:/xampp/htdocs/alice/style/scss/basic.scss */
input,
textarea,
select,
button {
  font-family: "alice", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* line 210, D:/xampp/htdocs/alice/style/scss/basic.scss */
button {
  border: 0;
  cursor: pointer;
}

/* line 213, D:/xampp/htdocs/alice/style/scss/basic.scss */
button:focus {
  outline: none;
}

/* line 218, D:/xampp/htdocs/alice/style/scss/basic.scss */
::-webkit-scrollbar-track {
  background-color: #ddd;
}

/* line 222, D:/xampp/htdocs/alice/style/scss/basic.scss */
::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

/* line 227, D:/xampp/htdocs/alice/style/scss/basic.scss */
::-webkit-scrollbar-thumb {
  background-color: #9ac3c3;
}

/* line 231, D:/xampp/htdocs/alice/style/scss/basic.scss */
.button {
  display: inline-block;
  float: right;
  position: relative;
  top: -15px;
}

/* line 238, D:/xampp/htdocs/alice/style/scss/basic.scss */
.rl-container {
  position: relative;
}

/* line 242, D:/xampp/htdocs/alice/style/scss/basic.scss */
.boxed {
  box-shadow: 0px 11px 83px 3px rgba(0, 0, 0, 0.18);
  -moz-box-sizing: border-box;
}

/* line 248, D:/xampp/htdocs/alice/style/scss/basic.scss */
.boxedSmall {
  box-shadow: 0 1px 1px #66abab;
  -moz-box-sizing: border-box;
}

/* line 253, D:/xampp/htdocs/alice/style/scss/basic.scss */
.boxed.fixed {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19);
  -moz-box-sizing: border-box;
}

/* line 258, D:/xampp/htdocs/alice/style/scss/basic.scss */
.bx {
  box-shadow: 0px 8px 52px 2px rgba(0, 0, 0, 0.18);
}

/* line 262, D:/xampp/htdocs/alice/style/scss/basic.scss */
.clear {
  clear: both;
}

/* line 266, D:/xampp/htdocs/alice/style/scss/basic.scss */
.slow {
  transition: all .2s ease-in-out;
}

/* line 270, D:/xampp/htdocs/alice/style/scss/basic.scss */
.row {
  width: 1200px;
  margin: 0 auto;
}

/* line 275, D:/xampp/htdocs/alice/style/scss/basic.scss */
.center {
  text-align: center;
}

/* line 279, D:/xampp/htdocs/alice/style/scss/basic.scss */
.left {
  text-align: left;
}

/* line 283, D:/xampp/htdocs/alice/style/scss/basic.scss */
.spacer.huge {
  height: 20vh;
}

/* line 287, D:/xampp/htdocs/alice/style/scss/basic.scss */
.spacer.big {
  height: 10vh;
  position: relative;
}

/* line 292, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-2 {
  width: 50%;
}

/* line 296, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-2-5 {
  width: 55%;
  min-height: 1px;
}

/* line 301, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-2-4 {
  width: 40%;
}

/* line 305, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-3 {
  width: 33%;
  min-height: 1px;
}

/* line 311, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-3-5 {
  width: 30%;
  min-height: 1px;
}

/* line 316, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-4 {
  width: 25%;
  min-height: 1px;
}

/* line 321, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-5 {
  width: 20%;
  min-height: 1px;
}

/* line 326, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-10 {
  width: 10%;
  min-height: 1px;
}

/* line 331, D:/xampp/htdocs/alice/style/scss/basic.scss */
.talent-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* line 337, D:/xampp/htdocs/alice/style/scss/basic.scss */
.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* line 343, D:/xampp/htdocs/alice/style/scss/basic.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 349, D:/xampp/htdocs/alice/style/scss/basic.scss */
.clearfix:after {
  clear: both;
}

/* line 353, D:/xampp/htdocs/alice/style/scss/basic.scss */
.clearfix {
  zoom: 1;
}

/* line 357, D:/xampp/htdocs/alice/style/scss/basic.scss */
.relative {
  position: relative !important;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* line 382, D:/xampp/htdocs/alice/style/scss/basic.scss */
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 395, D:/xampp/htdocs/alice/style/scss/basic.scss */
.glyphicon-ok:before {
  content: "\2713";
}

/* line 399, D:/xampp/htdocs/alice/style/scss/basic.scss */
.glyphicon-remove:before {
  content: "\00d7";
  font-size: 17px;
  font-weight: 600;
}

/*# sourceMappingURL=../css/basic.map */