@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../../assets/fonts/open/OpenSans-Regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/open/OpenSans-Regular-webfont?#iefix") format("embedded-opentype"), url("../../assets/fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../../assets/fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../../assets/fonts/OpenSans-Regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'basis-grotesque-regular';
  src: url("../../assets/fonts/basis-grotesque-regular.woff");
}

@font-face {
  font-family: 'basis-grotesque-bold';
  src: url("../../assets/fonts/basis-grotesque-bold.woff");
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("../../assets/fonts/bebas/bebasBold.eot");
  src: url("../../assets/fonts/bebas/bebasBold.woff");
  src: url("../../assets/fonts/bebas/bebasBold.woff2");
  font-weight: bold;
  font-style: normal;
}

/* line 37, D:/xampp/htdocs/alice/style/scss/basic.scss */
html {
  background: #FFFFFF;
  height: 100% !important;
}

/* fallback for old browsers */
/* line 63, D:/xampp/htdocs/alice/style/scss/basic.scss */
.boxb {
  box-shadow: 0px 8px 52px 2px rgba(0, 0, 0, 0.18);
}

/* line 70, D:/xampp/htdocs/alice/style/scss/basic.scss */
.box2 {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

/* line 74, D:/xampp/htdocs/alice/style/scss/basic.scss */
ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 81, D:/xampp/htdocs/alice/style/scss/basic.scss */
li {
  display: inline-block;
}

/* line 85, D:/xampp/htdocs/alice/style/scss/basic.scss */
a {
  color: #989898;
  text-decoration: none;
}

/* line 90, D:/xampp/htdocs/alice/style/scss/basic.scss */
input {
  border: 0;
}

/* line 92, D:/xampp/htdocs/alice/style/scss/basic.scss */
input:focus {
  outline: 0;
}

/* line 97, D:/xampp/htdocs/alice/style/scss/basic.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 105, D:/xampp/htdocs/alice/style/scss/basic.scss */
img {
  max-width: 100%;
}

/* line 109, D:/xampp/htdocs/alice/style/scss/basic.scss */
table {
  border-collapse: collapse;
  width: 100%;
}

/* line 114, D:/xampp/htdocs/alice/style/scss/basic.scss */
td,
th {
  text-align: left;
  padding: 0;
  margin: 0;
}

/* line 121, D:/xampp/htdocs/alice/style/scss/basic.scss */
input,
textarea,
select,
button {
  font-family: "Open Sans", sans-serif;
}

/* line 129, D:/xampp/htdocs/alice/style/scss/basic.scss */
button {
  border: 0;
  cursor: pointer;
}

/* line 132, D:/xampp/htdocs/alice/style/scss/basic.scss */
button:focus {
  outline: none;
}

/* line 137, D:/xampp/htdocs/alice/style/scss/basic.scss */
::-webkit-scrollbar-track {
  background-color: #ddd;
}

/* line 141, D:/xampp/htdocs/alice/style/scss/basic.scss */
::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

/* line 146, D:/xampp/htdocs/alice/style/scss/basic.scss */
::-webkit-scrollbar-thumb {
  background-color: #9ac3c3;
}

/* line 151, D:/xampp/htdocs/alice/style/scss/basic.scss */
.button {
  display: inline-block;
  float: right;
  position: relative;
  top: -15px;
}

/* line 158, D:/xampp/htdocs/alice/style/scss/basic.scss */
.rl-container {
  position: relative;
}

/* line 162, D:/xampp/htdocs/alice/style/scss/basic.scss */
.boxed {
  box-shadow: 0px 11px 83px 3px rgba(0, 0, 0, 0.18);
  -moz-box-sizing: border-box;
}

/* line 168, D:/xampp/htdocs/alice/style/scss/basic.scss */
.boxedSmall {
  box-shadow: 0 1px 1px #66abab;
  -moz-box-sizing: border-box;
}

/* line 173, D:/xampp/htdocs/alice/style/scss/basic.scss */
.boxed.fixed {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19);
  -moz-box-sizing: border-box;
}

/* line 178, D:/xampp/htdocs/alice/style/scss/basic.scss */
.bx {
  box-shadow: 0px 8px 52px 2px rgba(0, 0, 0, 0.18);
}

/* line 182, D:/xampp/htdocs/alice/style/scss/basic.scss */
.clear {
  clear: both;
}

/* line 186, D:/xampp/htdocs/alice/style/scss/basic.scss */
.slow {
  transition: all .2s ease-in-out;
}

/* line 190, D:/xampp/htdocs/alice/style/scss/basic.scss */
.row {
  width: 1124px;
  margin: 0 auto;
}

/* line 195, D:/xampp/htdocs/alice/style/scss/basic.scss */
.center {
  text-align: center;
}

/* line 199, D:/xampp/htdocs/alice/style/scss/basic.scss */
.left {
  text-align: left;
}

/* line 203, D:/xampp/htdocs/alice/style/scss/basic.scss */
.spacer.huge {
  height: 20vh;
}

/* line 207, D:/xampp/htdocs/alice/style/scss/basic.scss */
.spacer.big {
  height: 10vh;
  position: relative;
}

/* line 212, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-2 {
  width: 50%;
}

/* line 216, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-2-5 {
  width: 55%;
  min-height: 1px;
}

/* line 221, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-2-4 {
  width: 40%;
}

/* line 225, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-3 {
  width: 33%;
  min-height: 1px;
}

/* line 231, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-3-5 {
  width: 30%;
  min-height: 1px;
}

/* line 236, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-4 {
  width: 25%;
  min-height: 1px;
}

/* line 241, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-5 {
  width: 20%;
  min-height: 1px;
}

/* line 246, D:/xampp/htdocs/alice/style/scss/basic.scss */
.gr-10 {
  width: 10%;
  min-height: 1px;
}

/* line 251, D:/xampp/htdocs/alice/style/scss/basic.scss */
.talent-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* line 257, D:/xampp/htdocs/alice/style/scss/basic.scss */
.container {
  width: 980px;
  margin: 0 auto;
  position: relative;
}

/* line 263, D:/xampp/htdocs/alice/style/scss/basic.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 269, D:/xampp/htdocs/alice/style/scss/basic.scss */
.clearfix:after {
  clear: both;
}

/* line 273, D:/xampp/htdocs/alice/style/scss/basic.scss */
.clearfix {
  zoom: 1;
}

/* line 277, D:/xampp/htdocs/alice/style/scss/basic.scss */
.relative {
  position: relative !important;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=../css/basic.map */