<!--<div class="frontBg aboutBg"></div>-->
<div ng-include src="'view/header-mini.html'"></div>
<div ng-controller="aboutController">
    <div class="container">
        <div class="aboutText">
            <h3>Who we are?</h3>
            <p>Alice Agency (pronunce:) "Alis Agency" was established here Earth, South-Jakarta, Indonesia 2017 by a couple which name is unnecessarily to be mention. We have like almost a decade running as a freelance Agency, no legal registration nor considered as real Agency. But, we do have loads of clients, most of them are respected Event Organizer in South Jakarta. What are we trying to do here is to combine the primal and neanderthal ways with some technologies today. Sure thing, thecnology proved to be helpful for a lot of things. We began to fuly understand that agencies need a new way to be neat, organized, and more chaotic preventions, to be honest we're not sorry to explain our history with dully words. We're just a millenial who is trying to make an improvement and of course, to make some money like the agency mogul who has loads of money yet doesn't think about improvements.</p>
        </div>

    </div>
</div>
