<div class="page">
    <div class="userMenu bbot">
        <div id="home">
            <div class="dash-nav">
                <div class="main-logo">
                    <a href="/"><img src="assets/images/erp-icon.svg"></a>
                </div>
                <ul>
                    <li>
                        <a href="#">
                            <span class="user-name">{{user}}</span>
                            <b class="caret"></b>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="user-help">Help</span>
                            <b class="caret"></b>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="news-notif">2</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="hero">
            <div class="herowrap">

            </div>
        </div>
    </div>
</div>
