<footer id="footer" class="#">
    <div class="row fopad">
        <div class="boxing gr-5">
            <div class="lg-footer logo">
                <img src="assets/images/ALIS-DEER.svg">
            </div>
        </div>
        <div class="boxing gr-3-5">
            <div class="seo-footer">
                <p>In-store promotions are an effective way of increasing brand and product awareness. The in-store promotions can vary from sampling products such as beauty, fragrances, food & liquor or demonstrating products such as electronics, kitchenware and sporting equipment. Our staff are also regularly involved in flash mobs, PR stunts and hospitality events within the stores.</p>
            </div>
        </div>
        <div class="boxing gr-2-4">

            <div class="sitemap">
                <ul>
                    <h5 class="sitefooter">Sitemap</h5>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="howto-map">
                <ul>
                    <h5 class="sitefooter">How To</h5>
                    <li><a href="#">Hire</a></li>
                    <li><a href="#">Bookings</a></li>
                    <li><a href="#">Create Project</a></li>
                    <li><a href="#">Create Event</a></li>
                    <li><a href="#">Client Zone</a></li>
                </ul>
            </div>

        </div>

        <div class="boxing gr-5">



            <div class="social-sprites">
                <ul>
                    <li class="facebook"><a href="#">Facebook</a></li>
                    <li class="twitter"><a href="#">Twitter</a></li>
                    <li class="googlep"><a href="#">Google+</a></li>
                    <li class="instagram"><a href="#">Instagram</a></li>
                </ul>
            </div>

            <div class="payment-logo">
                <ul>
                    <li class="bca"><a href="#">BCA</a></li>
                    <li class="visa"><a href="#">Visa</a></li>
                    <li class="mastercard"><a href="#">MasterCard</a></li>
                </ul>
            </div>

        </div>


    </div>

    <div class="copyrights">
        <p>copyright ® 2017 nusatrip. all rights reserved.</p>
    </div>
</footer>


<script>
    // FOOTER

    var docHeight = $(window).height();
    var footerHeight = $('#footer').height();
    var footerTop = $('#footer').position().top + footerHeight;

    if (footerTop < docHeight) {
        $('#footer').css('margin-top', 10 + (docHeight - footerTop) + 'px');
    }

</script>
