<div class="container">
    <div class="topMenuContent">
        <div class="ov-pa">
            <div class="rw slow animated" ng-class="{'active' : toggle}">
                <ul>
                    <li><a href="./about">About</a></li>
                    <li><a href="./services">Services</a></li>
                    <li><a href="./project">Projects</a></li>
                    <li><a href="./contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-include src="'view/usermenu.html'">
    </div>
    <div class="logo">
        <a href="index.php"><img src="assets/logo.svg"></a>
    </div>
</div>
