<div class="topMenu">
    <div class="stackMenu"><a href="#" ng-click="toggle = !toggle" ng-class="{'active' : toggle}"><img src="assets/icons/menu.svg"></a></div>
    <div class="menuPost">
        <div class="search">
            <input class="search__input" ng-model="searchMain" placeholder="Search" />
            <button class="search__button"><img src="assets/icons/magnifying-glass.svg"></button>
        </div>
    </div>
</div>

<div class="fixedMenu boxed fixed">
    <div class="topMenu">
        <div class="stackMenu"><a href="#"><img src="assets/icons/menu.svg"></a></div>

        <div class="logo logo-ico-fixed"><img src="assets/logo.svg"></div>

        <div class="menuPost">
            <ul>
                <li><a href="#" class="joinBtn">Join</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="topMenuContent">
    <div class="ov-pa">
        <div class="rw boxedSmall slow animated" ng-class="{'active' : toggle}">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">How To</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="logo">
    <a href="index.php"><img src="assets/logo.svg"></a>
</div>
