<!--
<div class="frontLogo">
    <img src="assets/logo.svg">
</div>
-->
<div class="scroll-down-dude"></div>

<div class="frontMenu">
    <div class="Fmenu">
        <ul>
            <li><a href="./" class="leftFmenu"><img src="assets/icon.svg"></a></li>
            <li><a href="./about" class="leftFmenu">ABOUT</a></li>
            <li><a href="./services" class="leftFmenu">SERVICES</a></li>
            <li><a href="./project" class="leftFmenu">PROJECTS</a></li>
            <li><a href="#" class="leftFmenu">BLOG</a></li>
            <li><a href="#" class="leftFmenu">JOBS</a></li>
            <li><a href="./talents" class="rightFmenu">TALENTS</a></li>
            <li><a href="./contact" class="rightFmenu">CONTACT</a></li>
        </ul>
    </div>
    <!--
    </a>
    <a href="#" class="Fmenu rightFmenu">
        <span>TALENTS</span>
    </a>

    <a href="#" class="Fmenu botFmenu">
        <span>ABOUT</span>
    </a> -->
</div>
