<div id="home">
    <div class="userMenu">
        <div class="main-nav">
            <div class="container">
                <div class="main-logo">
                    <a href="/"></a>
                </div>
                <ul>
                    <li>
                        <a href="#" class="jobBtn">
                            <h5>FIND JOB</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="jobBtn" ng-click="goToLogin()">
                            <h5>MASUK</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="jobBtn" ng-click="goToRegister()">
                            <h5>MENDAFTAR</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="loginBtn" ng-click="goToLogin()">
                            <h5>CLIENT</h5>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="hero">
        <div class="herowrap">
            <div class="fixedBg"></div>
            <div class="heroBanner"></div>
            <div class="heroText">
                <h2 class="text01">A Place for</h2>
                <h2 class="text02">Talented</h2>
                <h2 class="text03">People</h2>
            </div>

            <div class="Register">
                <form>
                    <h3>Join Now Free</h3>
                    <span>your email</span>
                    <input type="email" placeholder="email" id="emailR" autocomplete="off">
                    <span>your password</span>
                    <input type="password" placeholder="password" id="passwordR" autocomplete="off">
                    <span>repeat password</span>
                    <input type="password" placeholder="repeat password" id="repasswordR" autocomplete="off">
                    <button type="submit" id="register">REGISTER</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/script.js"></script>
