<div class="page pdtop">
    <div id="home">
        <div class="userMenu">
            <div class="main-nav">
                <div class="main-logo">
                    <a href="#"></a>
                </div>
                <ul>
                    <li>
                        <a href="#" class="jobBtn">
                            <h5>Search Job</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="jobBtn" ng-click="goToLogin()">
                            <h5>Login</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="jobBtn" ng-click="goToRegister()">
                            <h5>Register</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="loginBtn" ng-click="goToUserLogin()">
                            <h5>CLIENT</h5>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hero">
            <div class="herowrap">

                <!--                <div class="heroBanner"></div>-->
                <div class="fixedBg"></div>
                <div class="heroText">
                    <h2 class="text01">Whoever you are, Whatever you are. You deserve better place to go. We provide a place where you can find a special job here.
                    </h2>
                    <a href="#" class="start" ng-click="goToUserLogin()">
                        <h5>Get Started</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/script.js"></script>
