<div class="loginBg"></div>
<div class="loginSide">
    <div class="home">
        <a href="./logout">
            <h4>HOME</h4>
        </a>
    </div>
    <!--
<div class="loginLogo">
    <img src="assets/logo.svg">
</div>
-->
    <div id="loginForm">
        <h2>You must Sign In to do that</h2>
        <p>Please enter your username and Client Key below, if you don't have one you can request <a href="#" style="color: orangered;">here</a></p>

        <div class="key">
            <h6>* Username</h6>
            <div id="invaliduser"></div>
            <input type="text" autocomplete="off" ng-model="username" placeholder="Your username" id="users">
        </div>
        <div class="key">
            <h6>* Client Key</h6>
            <input type="Password" autocomplete="off" ng-model="password" placeholder="Client Key" id="pass">
            <div id="invalid"></div>
        </div>
        <div class="keysubmit">
            <button id="loginBtn" ng-click="login()">Submit</button>
        </div>

        <h6 class="forgotPass">Forgot your password? Click <a href="#">here</a></h6>

    </div>
</div>


<script>
    $('#pass').bind("enterKey", function(e) {
        $('#loginBtn').click();
    });
    $('#pass').keyup(function(e) {
        if (e.keyCode == 13) {
            $(this).trigger("enterKey");
        }
    });

</script>
