<div class="userMenu">

    <div class="menuPost">
        <!--
        <div class="search"><input class="search__input" ng-model="searchMain" placeholder="Search" />
<button class="search__button"><img src="assets/icons/magnifying-glass.svg"></button>
</div>
-->

        <div class="rightMenu">
            <ul>
                <!--                <li><a href="#"><img src="assets/icons/user.svg"></a></li>-->

                <li>
                    <div id="welcomeClient">
                        <h5>Welcome, Dear <em>{{user}}</em></h5>
                    </div>
                </li>
                <li><a href="#"><img src="assets/icons/gear-big-shape.svg">
                <label>Options</label></a>
                </li>
                <li>
                    <div>
                        <span>0</span>
                        <span ng-repeat="c in cart">{{totalItem(0)}}</span>
                        <a href="#"><img src="assets/icons/inbox.svg">
                        <label>Booking</label>
                        </a>


                        <ul class="userset" ng-show="cart.length !== 0">
                            <li ng-repeat="c in cart">
                                <h6>{{c.name}}
                                    <!--                                    <p ng-show="cart.length !== 0">({{c.count}})</p>-->
                                </h6>
                                <input class="btn btn-danger" type="button" ng-click="removeItemCart(c)" value="x" />
                            </li>
                            <button class="bookNow">Book Now</button>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
